{% extends "@ChangMin/layout.html.twig" %}

{% block title %} <i class="icon icon-home"></i> {{ 'Dashboard' }}{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb">
        <span class="breadcrumb-item active"><i class="icon icon-home"></i> {{ 'Dashboard' }}</span>
    </nav>
{% endblock %}

{% block content %}{% endblock %}
