<!DOCTYPE html>
<html lang="{{ (locale|split('_'))[0] }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {#<link rel="icon" href="../../../../favicon.ico">#}

    <title>Carousel Template for Bootstrap</title>

    {% block stylesheet %}
        <link href="{{ asset('assets/cms/css/style.css?v='~phpmob_assets_version) }}" rel="stylesheet">
    {% endblock stylesheet %}

    {% modify jsmin %}
    {% block scripts %}
        <script type="text/javascript">
            window['PhpMobCms'] = {
                boots: [],
                inits: [],
                defers: [],
            };
        </script>
    {% endblock %}
    {% endmodify %}
</head>
<body>

{% block body %}{% endblock body %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/cms/js/app.js?v='~phpmob_assets_version) }}"></script>
{% endblock javascripts %}
</body>
</html>
