{% extends "@PhpMobCms/tpls/home.html.twig" %}

{% block content %}
    {{ 'x_test'|trans }}
    {{ 'foo_test'|trans }}
    {{ 'tpl.trans.x'|trans }}
    <p><b>Slug</b>: {{ page.slug }}</p>
{% endblock content %}
