{% set path = options.url is defined ? options.url : path(options.route, options.parameters|default([])) %}

<a class="{{ options.class|default }}" href="{{ path }}">
    {% if options.icon is defined %}<i class="{{ options.icon }}"></i> {% endif %}<span>{{ action.label|trans }}</span>
</a>
