.window-login {
    background: $chang-bg-color;

    .container {
        width: 380px;
        min-height: 330px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);

        .card {
            padding: 40px 40px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        }

        .avatar {
            margin: 0 auto 2rem auto;
        }

        .form-control {
            padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
            font-size: $font-size-lg;
            line-height: $input-btn-line-height-lg;
            @include border-radius($input-border-radius-lg);
        }

        .btn {
            width: 100%;
        }
    }
}
