.tab-pane.active {
    border: 1px solid $nav-tabs-border-color;
    border-top: none;

    > .form-group:last-child {
        margin: 0;
    }

    .card-translations {
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .tab-pane.active {
        border: none;
    }
}
