.card-translations {
    .card-header {
        position: relative;

        .nav-title {
            position: absolute;
            top: 25%;
        }
    }
}

.tab-pane.active {
    > .card-translations {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: -1px;

        .card-header {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

.col-form-legend,
.form-control-label {
    &.required {
        &:after {
            content: "*";
            margin-left: 4px;
            color: $red;
        }
    }
}

.is-invalid ~ .invalid-feedback {
    display: block;
}

// e.g. money_widget
.selectize-input.invalid {
  overflow: initial;
}

.selectize-input > p.is-invalid,
.input-group-addon ~ .form-control.is-invalid ~ p.is-invalid {
  position: absolute;
  right: 0;
  background-color: $form-feedback-invalid-color;
  color: #fff;
  top: -40px;
  padding: 2px 5px;
  border-radius: $border-radius;

  &:after {
    left: 50%;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: $form-feedback-invalid-color;
    position: absolute;
    border-style: solid;
    bottom: -5px;
  }
}

.custom-file-input {
  min-width: 7rem;
  width: 100%;
}
.custom-file-control {
  &:after {
    content: attr(data-content) !important;
  }
  &:lang(th)::before {
    content: "เลือกไฟล์";
  }
}
