.card-translations {
    .card-header {
        position: relative;

        .nav-title {
            position: absolute;
            top: 25%;
        }
    }
}

.tab-pane.active {
    > .card-translations {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: -1px;

        .card-header {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

.col-form-legend,
.form-control-label {
    &.required {
        &:after {
            content: "*";
            margin-left: 4px;
            color: $red;
        }
    }
}

.is-invalid ~ .invalid-feedback {
    display: block;
}

.selectize-input.invalid {
  overflow: initial;
}

.input-group.is-invalid {
  .input-group-text {
    border-color: $form-feedback-invalid-color;
  }
}

.custom-file-input {
  min-width: 7rem;
  width: 100%;
}
.custom-file-control {
  &:after {
    content: attr(data-content) !important;
  }
  &:lang(th)::before {
    content: "เลือกไฟล์";
  }
}
.custom-control-hint {
  display: block;
}

.form-inline {
  input[type=date] + input[type=time] {
    margin-left: .5rem;
  }
}
