$chang-base-color: darken($gray-500, 35%);
$chang-bg-color: rgba($gray-200, .5);
$chang-border-color: darken($gray-500, 10%);

@import "../photon/sass/variables";
@import "../photon/sass/mixins";
@import "../photon/sass/window";

@import "codemirror";
@import "avatar";
@import "breadcrumb";
@import "pace";
@import "pane";
@import "menubar";
@import "sidebar";
@import "splitter";
@import "form";
@import "table-grid";
@import "admin-login";
@import "bs-form";
@import "bs-tab";
