.chang-sidebar {
    .branding {
        display: flex;
        align-items: center;
        padding: .5rem .5rem;
        background-color: rgba($chang-sidebar-base-color, .01);
        //border-bottom: 1px solid $chang-border-color;

        img {
            height: 35px;
            padding: .2rem;
            //border: 1px solid theme-color('primary');
            //border-radius: $border-radius;
        }

        h2 {
            display: inline-block;
            margin: 0 0 0 .5rem;
            color: $chang-sidebar-base-color;
            font-size: 1rem;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .nav-group {
        font-size: 13px;
    }

    .nav-group-item {
        padding: 3px 10px 3px 25px;
        display: block;
        color: lighten($chang-sidebar-base-color, 10%);
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:active,
        &.active {
            background-color: #dcdfe1;
        }

        .fa {
            width: 18px; // Prevents a one pixel cutoff
            color: lighten($chang-sidebar-base-color, 20%);
            margin-right: 5px;
            font-size: 16px;
            text-align: center;
        }
    }

    .nav-group-title {
        margin: 0;
        padding: 15px 10px 5px;
        font-size: 12px;
        font-weight: 500;
        color: lighten($chang-sidebar-base-color, 20%);
    }
}
