.table-grid {
    display: flex;
    flex-direction: column;
    flex: 1;

    .table {
        flex: 1;
        font-size: 90%;
        display: flex;
        flex-direction: column;

        thead {
            background-color: $gray-100;

            tr {
                display: flex;
                flex-direction: row;
            }

            th {
                border-top: 0;
                border-right: 1px solid $gray-300;
                border-bottom: 1px solid $gray-300;
                flex: 1;
                a {
                    color: $gray-600;
                }
            }
        }

        tbody {
            flex: 1;

            tr:first-child {
                td {
                    border-top: none;
                }
            }
        }

        th, td {
            .btn {
                border-color: $input-border-color;
            }
            &.grid-table-column-actions {
                text-align: center;
                .dropdown {
                    > .btn {
                        font-size: 90%;
                        padding: $input-btn-padding-y-sm / 4 $input-btn-padding-x-sm;
                    }
                }

                .dropdown-menu {
                    padding: 0;
                    border-radius: 0;

                    .btn {
                        display: block;
                        border: none;
                        width: 100%;
                        text-align: left;
                        border-radius: 0;
                        padding: $input-btn-padding-y-sm + .2 $input-btn-padding-x-sm;
                    }
                }
            }
        }

        tr:nth-child(even) {
            background-color: #f5f5f4;
        }

        &.scrollable {
            tbody {
                display: block;
            }

            tbody {
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }
}
