.table-grid {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;

    .table {
        flex: 1;
        font-size: 90%;

        thead {
            background-color: $gray-100;

            th {
                border-top: 0;
                border-right: 1px solid $gray-300;
                border-bottom: 1px solid $gray-300;
                a {
                    color: $gray-600;
                }
            }
        }

        tbody {
            tr:first-child {
                td {
                    border-top: none;
                }
            }
        }

        th, td {
            .btn {
                border-color: $input-border-color;
            }
            &.grid-table-column-actions {
                text-align: center;
                .dropdown {
                    > .btn {
                        font-size: 90%;
                        padding: $input-btn-padding-y-sm / 4 $input-btn-padding-x-sm;
                    }
                }

                .dropdown-menu {
                    padding: 0;
                    border-radius: 0;

                    .btn {
                        display: block;
                        border: none;
                        width: 100%;
                        text-align: left;
                        border-radius: 0;
                        padding: $input-btn-padding-y-sm + .2 $input-btn-padding-x-sm;
                    }
                }
            }
        }

        tr:nth-child(even) {
            background-color: #f5f5f4;
        }
    }

    &.scrollable {
        overflow: hidden;
        .table {
            display: flex;
            flex-direction: column;

            thead {
                tr {
                    display: flex;
                    flex-direction: row;

                    th {
                        flex: 1;
                    }
                }
            }

            tbody {
                flex: 1;
                display: block;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }
}
