Phpmob\CmsBundle\Model\PageTranslation:
    type: mappedSuperclass
    table: phpmob_cms_page_translation

    id:
        id:
            type: integer
            generator:
                strategy: AUTO

    fields:
        title:
            type: string
            nullable: true
        slug:
            type: string
            nullable: true
        body:
            type: text
            nullable: true
        metaDescription:
            type: string
            nullable: true
        metaKeywords:
            type: string
            nullable: true
