PhpMob\CmsBundle\Model\Page:
    type: mappedSuperclass
    table: phpmob_cms_page

    id:
        id:
            type: integer
            generator:
                strategy: AUTO

    fields:
        enabled:
            type: boolean
        script:
            type: text
            nullable: true
        style:
            type: text
            nullable: true
        options:
            type: json
            nullable: true
        definedTranslations:
            type: json
            nullable: true
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update

    manyToOne:
        template:
            targetEntity: PhpMob\CmsBundle\Model\TemplateInterface
            joinColumn:
                nullable: true
                onDelete: "SET NULL"
