{%- set mainActions -%}
    {% if definition.actionGroups.main is defined %}
        {% for action in definition.getEnabledActions('main') %}
            {{ sylius_grid_render_action(resources, action, null) }}
        {% endfor %}
    {% endif %}
{%- endset -%}

{% if mainActions %}
    <div class="btn-group btn-group-sm">
        {{ mainActions|raw }}
    </div>
{% endif %}
