{% import '@ChangMin/Grid/_paginate.html.twig' as paginate %}

<div class="row no-gutters align-items-center">
    <div class="col-auto mr-auto pane-toolbar-actions">
        {{ include("@ChangMin/Crud/Index/_actions.html.twig") }}
        {{ include("@ChangMin/Crud/Index/_search.html.twig") }}
    </div>
    <div class="col-auto pane-toolbar-paginate">{{ paginate.basic(data, pagine) }}</div>
</div>
