{% import '@ChangMin/Macro/messages.html.twig' as messages %}
{% import '@ChangMin/Grid/_table.html.twig' as table %}

{% set grid = resources|default(grid|default) %}
{% set definition = grid.definition %}

{% if definition.enabledFilters|length > 0 %}
    {# TODO #}
{% endif %}

{% if grid.data|length > 0 %}
    {% set rows %}
        {# to use default options render before headers #}
        {% for row in grid.data %}
            {{ table.row(grid, definition, row) }}
        {% endfor %}
    {% endset %}
    <table class="table table-sm m-0">
        <thead>
        <tr>
            {{ table.headers(grid, definition, app.request.attributes) }}
        </tr>
        </thead>
        <tbody>
        {{ rows|raw }}
        </tbody>
    </table>
    {#<script>
         var $grid = $('.table-grid');
         var $table = $('table', $grid);
         new TableResize($table.get(0), { restoreState: true, fixed: true });
         // scrollable
         if ($grid.hasClass('scrollable')) {
         var colsWidth = $table.find('thead tr:first').children().map(function () {
         return $(this).width();
         }).get();

         $table.find('tbody tr:first').children().each(function (i, v) {
         $(v).width(colsWidth[i]);
         });
         }
    </script>#}
{% else %}
    <div class="no-results justify-content-center">
        <div class="align-self-center">
            {{ messages.default('No results to display', 'licon licon-info') }}
        </div>
    </div>
{% endif %}
