@mixin avatar($width, $status-width) {
    position: relative;
    display: inline-block;
    width: $width;

    .img-avatar {
        width: $width;
        height: $width;
    }

    .avatar-status {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: $status-width;
        height: $status-width;
        border: 1px solid #fff;
        border-radius: 50em;
    }
}

.img-avatar {
    border-radius: 50em;

    &-user {
        background-image: url("../img/avatar.png");
        background-size: cover;
    }
}

.avatar {
    $width: 36px;
    $status-width: 10px;
    @include avatar($width, $status-width);
}

.avatar.avatar-xs {
    $width: 20px;
    $status-width: 8px;
    @include avatar($width, $status-width);
}

.avatar.avatar-sm {
    $width: 24px;
    $status-width: 8px;
    @include avatar($width, $status-width);
}

.avatar.avatar-lg {
    $width: 72px;
    $status-width: 12px;
    @include avatar($width, $status-width);
}
