// vsubmit
p.is-invalid {
  @extend .invalid-feedback;
  margin-bottom: 0;
}

.is-invalid ~ .invalid-feedback {
  display: block;
}

.form-control-label {
  &.required {
    &:after {
      content: '*';
      color: $red;
      margin-left: 4px;
    }
  }
}

.form-inline {
  select + select {
    margin-left: 4px;
    margin-right: 4px;
  }
}

.selectize-input.invalid {
  overflow: initial;
}

.input-group.is-invalid {
  .input-group-text {
    border-color: $form-feedback-invalid-color;
  }
}

.custom-control-hint {
  display: block;
}
