.card-translations {
  .card-header {
    position: relative;

    .nav-title {
      position: absolute;
      top: 0;
      margin: 0;
    }
  }
}

.tab-pane.active {
  > .card-translations {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;

    .card-header {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

// vsubmit
p.is-invalid {
  @extend .invalid-feedback;
  margin-bottom: 0;
}

.is-invalid ~ .invalid-feedback {
  display: block;
}

// dedicated for form_errors :(
// https://github.com/symfony/symfony/issues/26461
.form-control-label {
  &.required {
    &:before {
      content: '*';
      color: $red;
      margin-right: 4px;
    }
  }
}

.form-inline {
  select + select {
    margin-left: 4px;
    margin-right: 4px;
  }
}

.selectize-input.invalid {
  overflow: initial;
}

.input-group.is-invalid {
  .input-group-text {
    border-color: $form-feedback-invalid-color;
    background-color: $form-feedback-invalid-color;
    color: $white;
  }
}

.custom-control-hint {
  display: block;
}
.custom-control.custom-radio + .form-text-hint,
.custom-control.custom-checkbox + .form-text-hint {
  padding-left: 1.5rem;
}

.form-error-message * {
  color: $red !important;
}
