<div class="d-flex justify-content-end align-items-center d-md-none">
    <a class="mr-3"><i class="fa fa-bell-o"></i></a>
    <a class="mr-3" data-toggle="collapse" data-target="#navbarUserCollapse">
        <img src="{{ picture }}" class="avatar avatar-xs" alt="{{ app.user.displayName }}">
    </a>
    {{ include('@PhpMobCms/tpls/header/_toggle.html.twig') }}
</div>
