{% set backUrl = smart_referer(
    path(configuration.vars.route.name|default(configuration.getRouteName('index')), configuration.vars.route.parameters|default({}))
) %}

<a class="btn btn-sm btn-outline-secondary" href="{{ backUrl }}">
    <i class="fa fa-left-open"></i> {{ 'Back' }}
</a>

<div class="float-right">
    <button type="button" class="btn btn-sm btn-primary" data-submit-form="{{ form.vars.name }}">
        <i class="fa fa-check"></i> {{ 'Save' }}
    </button>
</div>
