$simple-line-icon-prefix: "licon-" !default;

@import "../private/scss/bootstrap";
@import "bootstrap";

/*
@import "../node_modules/photon/sass/variables";
@import "../node_modules/photon/sass/mixins";
@import "../node_modules/photon/sass/base";
@import "../node_modules/photon/sass/bars";
//@import "../node_modules/photon/sass/tables";
@import "../node_modules/photon/sass/grid";
@import "../node_modules/photon/sass/icons";
@import "../node_modules/photon/sass/navs";
*/

@import "../node_modules/font-awesome/scss/font-awesome";
@import "../node_modules/simple-line-icons/scss/simple-line-icons";
@import "../node_modules/flag-icon-css/sass/flag-icon";

//@import "../node_modules/primer-breadcrumb/build/build.css";

@import "../private/scss/main";
