{% macro collection_item(form, allow_delete, button_delete_label, index) %}
    {% spaceless %}
        <div data-form-collection="item" data-form-collection-index="{{ index }}">
            <div data-form-collection="widget">
                {{ form_widget(form) }}
            </div>
            {% if allow_delete %}
                <a href="#" data-form-collection="delete" class="btn btn-outline-danger btn-sm">
                    <i class="fa fa-trash-o"></i>
                    {{ button_delete_label|trans }}
                </a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endmacro %}
