{% macro collection_item(form, allow_delete, button_delete_label, index) %}
    {% spaceless %}
        <div data-form-collection="item" data-form-collection-index="{{ index }}">
            {% if allow_delete %}
                <a href="#" data-form-collection="delete" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash-o"></i>
                    {{ button_delete_label|trans }}
                </a>
            {% endif %}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endmacro %}
